body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.card {
    width: 250px;
    height: 390px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: bold;
    font-size: 25px;
    border-style: groove;
    border-width: 3px;
    margin-left: 10px;
    margin-bottom: 100px;


}

.filtro {
    align-items: center;
    margin-left: 50px;
}

.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.logo img {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-left: 2rem;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(31, 30, 30);
    color: #fff;
    text-align: center;
    height: 100px;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-left: 2rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 3px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 99%;

}

footer p {
    margin: 0;
}

.lupa {
    margin-left: 7rem;
    display: flex;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.carrinho {
    margin-left: 2rem;
    display: flex;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


.cadastro {
    margin-left: 2rem;
    display: flex;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.conteiner-camisa {
    width: 350px;
    height: 520px;
    background-color: #ffffff;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50px;      

}

.produtos {
    width: 1000px;
    height: 1600px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: -490px;


}



.descricao-camisa {
    color: #000;
    font: oblique;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    margin-left: 100px;

}

.titulo-camisa {
    margin: 0;

}