body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  .card {
    width: 250px;
    height: 400px;
    background-color: white;
    overflow-y:scroll;
    overflow-x:hidden;
    font-weight: bold;
    font-size: 25px;
    border-style: groove;
    border-width: 3px;
    margin-left: 10px;
    margin-bottom: 100px;
    
  
  }

  .logo img {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-left: 2rem;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: rgb(31, 30, 30);
    color: #fff;
    text-align: center;
    height: 100px;
    width: 100%;
  }

  
  nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-left: 2rem;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 50px;
    
  }
  
  
  footer {
    background-color: #000000;
    color: #fff;
    padding: 3px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 99%;
  
  }
  
  footer p {
    margin: 0;
  }
  
  .lupa {
    margin-left: 7rem;
    display: flex;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  .carrinho {
    margin-left: 2rem;
    display: flex;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  
  .cadastro {
    margin-left: 2rem;
    display: flex;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .acessorios{
    width: 1250px;
    background-color: #8821b8;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  #acessorio1{
    background-color: rgb(255, 255, 255);
    width: 420px;
    height: 380px;
    background-image: url("image/acessorio1.png");
    background-size: cover;
    columns: grid;
    cursor: pointer;
  }
  #acessorio1:hover{
    background-color: rgb(48, 46, 46) ;
    border-radius: 20px;
  }

  #camisa2{
    background-color: rgb(255, 255, 255);
    width: 420px;
    height: 380px;
    background-image: url("image/acessorio2.png");
    background-size: cover;
    columns: grid;
    cursor: pointer;
  }

  #camisa2:hover{
    background-color: rgb(48, 46, 46) ;
    border-radius: 20px;
  }

  #camisa3{
    background-color: rgb(255, 255, 255);
    width: 420px;
    height: 380px;
    background-image: url("image/acessorio_fem2.png");
    background-size: cover;
    columns: grid;
    cursor: pointer;
  }

  #camisa3:hover{
    background-color: rgb(48, 46, 46) ;
    border-radius: 20px;
  }



  .conteiner-acessorio{
    width: 50%;
    background-color: #ffffff; 
    gap: 5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    
  }
  
  .descricao-acessorio{
    font:oblique
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    margin-left: 100px;
  }
  
  .section-filtro{
    display: flex ;
  }
  